# fail_fast: true
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        name: ruff-format
        types: [python]
      - id: ruff
        name: ruff-import-sort
        args: ["--fix", "--select", "I", "--select", "F401"]
        types: [python]

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: './.venv/bin/pytest tests/'
        language: script
        types: [python]
        pass_filenames: false
